{% load static %}
<div class="footer-area section-padding" style="background-image: url(assets/img/bg/footer-bg.png);background-size: cover;background-position: center;background-repeat: no-repeat;">
    <!--:::::LOGO AREA START :::::::-->
<div class="logo-carousel">
   <div class="container">
       <div class="row">
           <div class="logos owl-carousel">
               <div class="single-logo-table">
                   <div class="single-logo-table-cell">
                      <img src="{% static 'frontend_asset/assets/img/logo/1.svg' %}" alt="">
                   </div>
               </div>
               <div class="single-logo-table">
                   <div class="single-logo-table-cell">
                       <img src="{% static 'frontend_asset/assets/img/logo/01.png' %}" alt="">
                   </div>
               </div>
               <div class="single-logo-table">
                   <div class="single-logo-table-cell">
                       <img src="{% static 'frontend_asset/assets/img/logo/02.png' %}" alt="">
                   </div>
               </div>
               <div class="single-logo-table">
                   <div class="single-logo-table-cell">
                       <img src="{% static 'frontend_asset/assets/img/logo/03.png' %}" alt="">
                   </div>
               </div>
               <div class="single-logo-table">
                   <div class="single-logo-table-cell">
                       <img src="{% static 'frontend_asset/assets/img/logo/04.png' %}" alt="">
                   </div>
               </div>
               <div class="single-logo-table">
                   <div class="single-logo-table-cell">
                       <img src="{% static 'frontend_asset/assets/img/logo/02.png' %}" alt="">
                   </div>
               </div>
           </div>
       </div>
   </div>
</div>
<div class="space-100"></div>
<!--:::::LOGO AREA END :::::::-->
   <div class="container">
       <div class="row">
           <div class="col-lg-6 m-auto text-center">
               <div class="footer-menu">
                   <ul>
                       <li><a href="#">about me</a></li>
                       <li><a href="#">career</a></li>
                       <li><a href="#">blog</a></li>
                       <li><a href="#">gallery</a></li>
                       <li><a href="#">contact me</a></li>
                   </ul>
               </div>
               <div class="space-40"></div>
               <div class="copyright">
                   <p>Copyright © 2019 by <span> QuomodoTheme </span> all right reserved</p>
               </div>
           </div>
       </div>
   </div>
</div>