a.cbtn {
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    padding: 13px 25px;
    background: red;
    border-radius: 4px;
}

a.cbtn.cbnt1 {
    background: linear-gradient(to right, #11998e, #38ef7d);
    padding-right: 70px;
    position: relative;
    z-index: 2;
    border: none;
    color:#fff;
}
/* #11998e
→ 
#38ef7d */

a.cbtn.cbnt1 i {
    position: absolute;
    top: 50%;
    right: 15px;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    background: #fff;
    color: #127e80;
    border-radius: 4px;
    margin-top: -15px;
}



a.cbtn.cbnt1:hover{
    border-color: #127e80;
    background: transparent;
    background: linear-gradient(to right, #11998e, #38ef7d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    transition: all .3s;
    border: 1px solid #127e80;
}


a.cbtn.pricing-btn {
    background: linear-gradient(to right, #11998e, #38ef7d);
    padding-right: 70px;
    position: relative;
    z-index: 2;
    color: #fff;
}

a.cbtn.pricing-btn i {
    position: absolute;
    top: 50%;
    right: 15px;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    background: #fff;
    color: #121517;
    border-radius: 4px;
    margin-top: -15px;
}

