{% load static %}
<div class="header-area header-main" id="header">
    <!--scroll to up btn-->
    <a href="#" class="up-btn"><i class="fal fa-angle-up"></i></a>
    <div class="container">
        <div class="row">
            <div class="col-6 col-lg-3 align-self-center">
                <a href="index.html" class="logo"><img src="{% static 'frontend_asset/assets/img/logo/shakil-logo.png' %}" alt=""></a>
            </div>
            <div class="col-6 text-center align-self-center">
                <div class="main-menu">
                    <div class="stellarnav">
                        <ul class="navbarmneuclass">
                            <li class="current"><a href="#">Home</a>
                                <ul>
                                    <li><a href="index.html">Home Page 1</a></li>
                                    <li><a href="index1.html">Home Page 2</a></li>
                                </ul>
                            </li>
                            <li><a href="#about">About</a></li>
                            <li><a href="#service">Service</a></li>
                            <li><a href="#portfolio">Portfolio</a></li>
                            <li><a href="#">Pages</a>
                                <ul>
                                    <li><a href="about.html">About</a></li>
                                    <li><a href="portfolio.html">Portfolio</a></li>
                                    <li><a href="single-portfolio.html">Portfolio Details</a></li>
                                    <li><a href="blog.html">Blog</a></li>
                                    <li><a href="single-blog.html">Single Blog</a></li>
                                    <li><a href="contact.html">Contact Us</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="d-none d-lg-block col-lg-3 align-self-center text-right">
                <div class="search-area">
                    <div class="search-box">
                        <form action="#">
                            <input type="search" placeholder="Search">
                        </form>
                        <div class="search-btn">
                            <a href="#"><i class="fas fa-search"></i></a>
                        </div>
                    </div>
                    <div class="grid-menu" id="grid-side">
                        <img src="{% static 'frontend_asset/assets/img/icon/hamburger.svg' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="slide-widgest-wrap" id="slide-widgest">
        <div class="side-widgest" id="side-content">
            <div class="side-close" id="close-btn">
            <i class="fal fa-times"></i>
        </div>
            <div class="logo">
                <a href="#"><img src="{% static 'frontend_asset/assets/img/logo/logo.png' %}" alt=""></a>
            </div>
            <div class="side-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint ratione reprehenderit, error qui enim sit ex provident iure, dolor, nulla eaque delectus, repudiandae commodi. Velit assumenda odit quisquam at, error suscipit unde, necessitatibus ipsum ratione excepturi ducimus labore, totam dolorem.</p>
            </div>
            <div class="side-social">
                <ul>
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>